.card {
    border-radius: 8px;
    color: var(--darkblue);
    text-align: justify;
    border: 2px solid var(--darkblue);
    background-color: var(--lightblue);
    transition: 0.3s;
    padding: 20px;
}

.card:hover {
    border: 2px solid var(--green);
    box-shadow: 0 0 10px var(--green);
}

.line-card {
    border: 1px solid var(--darkblue);
    margin: auto;
    width: 100%;
}

.name-date {
    margin-bottom: 20px;
}

h4 {
    margin-top: 20px;
}

.characters {
    display: flex;
    flex-direction: row;
    max-height: 200px;
    overflow-y: auto;
}

ul {
    margin-left: 25px;
    width: 40%;
}

li {
    margin-top: 4px;
}
