:root {
  --green: #7dfb4c;
  --lightblue:#72c5d6;
  --blue: #23a5be;
  --darkblue: #0a2130;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Helvetica, sans-serif;
  align-items: center;
  color: var(--darkblue);
  background-image: linear-gradient( var(--darkblue),#154852, var(--blue));
}
